.root {
  display: grid;
  gap: 0.5rem;
}

.base {
  border: 1px solid var(--borderColor);
  border-radius: 0.25rem;
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto;
  place-items: stretch stretch;
  overflow: hidden;
}

.fields {
  padding: 1rem 0.5rem;
  display: grid;
  position: relative;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  place-items: end stretch;
  textarea {
    grid-column: 1 / span 2;
  }
}

.menu {
  display: grid;
  gap: 0.5rem;
  border-left: 1px solid var(--borderColor);
  button {
    border: unset;
    padding: 0.5rem;
  }
}
