.root {
  border: 1px solid #f9f9f9;
  background-color: white;
  height: calc(2rem * 5.75);
  width: calc(3.5rem * 5.75);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 0.5rem;
  img {
    padding: 0.25rem;
    border-radius: 9999px;
  }
}
