.root {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  height: calc(100vh - 7rem);
  overflow: hidden;
  scroll-snap-align: start;
  button {
    padding: 0.5rem;
  }
}

.base {
  padding-bottom: 1rem;
  display: flex;
  overflow-x: hidden;
  gap: 1rem;
  flex-direction: column;
  overflow-y: scroll;
  height: calc(100% - 3rem);
  padding-right: 1rem;
  scroll-padding: 1rem;
  scroll-snap-type: y mandatory;
}
