.root {
  header {
    height: 3rem;
    display: flex;
    padding: 0 2rem;
    gap: 0.5rem;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
  }
}

.base {
  border-right: 1px solid var(--borderColor);
  display: grid;
  overflow-y: scroll;
  direction: rtl;
  height: calc(100vh - 6rem);
  padding: 1rem;
  scroll-padding: 1rem;
  scroll-behavior: smooth;
  form {
    direction: ltr;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}

.anchor {
  border: 1px solid var(--borderColor);
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 12px;
  word-break: keep-all;
  white-space: nowrap;
  &__active {
    @extend .anchor;
    background-color: var(--backgroundColor-100);
    color: var(--color);
  }
}
