.root {
  display: grid;
  overflow-y: scroll;
  direction: rtl;
  height: calc(100vh - 3rem);
  scroll-snap-type: y mandatory;
}

.base {
  padding: 1rem;
  direction: ltr;
  height: calc(100vh - 3rem);
  scroll-snap-align: start;
}
