.root {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--backgroundColor-100);
  border: 1px solid var(--borderColor);
  border-radius: 0.5rem;
}

.field {
  display: grid;
  font-size: 12px;
}

.colors {
  overflow: hidden;
  background-color: var(--backgroundColor-200);
  border-radius: 0.25rem;
  border: 1px solid var(--borderColor);
  display: flex;
}

.color {
  padding: 0;
  display: grid;
  width: 1.5rem;
  height: 1.5rem;
  border: unset;
  border-radius: unset;
}

.component {
  padding: 1rem;
  display: grid;
  place-items: center center;
  img {
    object-fit: contain;
    background-color: var(--backgroundColor-100);
    border: 1px dashed var(--borderColor);
  }
}
