.root {
  overflow-y: scroll;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center center;
  padding: 1rem;
}

.preview {
  outline: 2px dashed red;
}

.resume {
  @extend .preview;
  width: calc(8.5rem * 5.7);
  height: calc(11rem * 5.7);
}

.card {
  @extend .preview;
  width: calc(3.5rem * 5.7);
  height: calc(2rem * 5.7);
}
