.root {
  overflow-y: scroll;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center center;
  padding: 1rem;
}

.preview {
  border: 1px dashed var(--borderColor);
}

.resume {
  @extend .preview;
  width: calc(8.5rem * 6);
  height: calc(11rem * 6);
}

.card {
  @extend .preview;
  width: calc(3.5rem * 6);
  height: calc(2rem * 6);
}
