:root {
  .light {
    --color: black;
    --backgroundColor-100: white;
    --backgroundColor-200: #f8f8f8;
    --borderColor: #e0e0e0;
  }
  .dark {
    --color: white;
    --backgroundColor-100: #424242;
    --backgroundColor-200: #2c2c2c;
    --borderColor: #686868;
  }
}

body {
  color: var(--color);
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: hidden;
  background-color: var(--backgroundColor-200);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ::-webkit-scrollbar {
//   width: 0.25rem;
// }

// ::-webkit-scrollbar-track {
//   background: #f8f8f8;
// }

// ::-webkit-scrollbar-thumb {
//   background: #e0e0e0;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #cecece;
// }

form {
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--backgroundColor-100);
  border: 1px solid var(--borderColor);
  border-radius: 0.5rem;
}

kbd {
  border: 1px solid var(--borderColor);
  border-radius: 0.25rem;
  font-size: 12px;
  padding: 0 0.25rem;
  box-shadow: 0 1px 0 0 var(--borderColor);
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--color);
  border-radius: 4px;
  background-color: var(--backgroundColor-100);
  font-weight: 600;
  font-size: 12px;
  border: 1px solid var(--borderColor);
  padding: 0.5rem 1rem;
}

label {
  font-size: 12px;
  font-weight: 600;
}

input,
textarea {
  border-radius: 4px;
  background-color: var(--backgroundColor-200);
  border: 1px solid var(--borderColor);
  width: 100%;
  padding: 0.5rem;
  &[type="color"] {
    -webkit-appearance: none;
    border: unset;
    height: 35px;
    padding: unset;
  }
  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  &::-webkit-color-swatch {
    overflow: hidden;
    border-radius: 0.25rem;
    border: 1px solid var(--borderColor);
    &:hover {
      outline: 2px solid var(--color);
    }
  }
}

textarea {
  resize: vertical;
  min-height: 3rem;
  max-height: 6rem;
}

ul {
  padding: 0 0 0 1.5rem;
}

hr {
  border-top: 2px solid var(--borderColor);
  border-right: unset;
  border-bottom: unset;
  border-left: unset;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.close {
  margin: 0.5rem;
  top: 0;
  right: 0;
  display: grid;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.25rem;
  color: red;
  border: 1px solid var(--color);
  position: absolute;
}
